<!-- browse view -->
<div id = "browse" class = "container" ng-controller = "browseCtrl">
	<h1>Manage Items Inventory</h1>

	<table class = "table">
		<thead>
			<th>Title</th>
			<th>Artist/Author</th>
			<th>Price</th>
			<th>Stock</th>
			<th>Category</th>
			<th>Action</th>
			<th>&nbsp;</th>
		</thead>
		<tbody>
			<tr>
				<td><input class = "form-control" ng-model="searchitem.attrib"></td>

				<td>
					<button class = "btn btn-default dropdown-toggle" data-toggle="dropdown" ng-model="searchitem.type" aria-expanded="false">
						Category <span class="caret"></span>
	  				</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Category</a></li>
						<li><a href="#">Title</a></li>
						<li><a href="#">Author/Artist</a></li>
					</ul>
				</td>

				<td><button class = "btn btn-primary" ng-click = "searchItem()">Search Item</button></td>
			</tr>
			<tr ng-repeat = "item in itemlist">
				<td>{{item.title}}</td>
				<td>{{item.author}}</td>
				<td>{{item.price | currency}}</td>
				<td>{{item.stock}}</td>
				<td>{{item.category}}</td>
			</tr>
		</tbody>
	</table>
</div>