<!-- manage view -->
<div id = "manage" class = "container" ng-controller = "managerCtrl">
	<h1>Manage Items Inventory</h1>

	<table class = "table">
		<thead>
			<th>Title</th>
			<th>Artist/Author</th>
			<th>Price</th>
			<th>Stock</th>
			<th>Category</th>
			<th>Action</th>
			<th>&nbsp;</th>
		</thead>
		<tbody>
			<tr>
				<td><input class = "form-control" ng-model="item.title"></td>
				<td><input class = "form-control" ng-model="item.author"></td>
				<td><input class = "form-control" ng-model="item.price"></td>
				<td><input class = "form-control" ng-model="item.stock"></td>
				<td><input class = "form-control" ng-model="item.category"></td>
				<td><button class = "btn btn-primary" ng-click = "addItem()">Add Item</button></td>
				<td><button class = "btn btn-info" ng-click = "update()">Update</button></td>
			</tr>
			<tr ng-repeat = "item in itemlist">
				<td>{{item.title}}</td>
				<td>{{item.author}}</td>
				<td>{{item.price | currency}}</td>
				<td>{{item.stock}}</td>
				<td>{{item.category}}</td>
				<td><button class = "btn btn-danger" ng-click = "removeItem(item._id)">Remove</button></td>
				<td><button class = "btn btn-warning" ng-click = "editItem(item._id)">Edit</button></td>
			</tr>
		</tbody>
	</table>
</div>